.projects-main-title {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 40px;
    /* margin-left: 6%; */
    text-align: center;

}

.projects-con {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-con-box {
    display: flex;
    height: 80vh;
    width: 87%;
    margin: 3%;
    border-radius: 25px;
    border: 1px solid white;
    box-shadow: #ffffff;
    position: relative;
}

.projects-box-title {
    position: absolute;
    top: 10%;
    left: 2%;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    width: 50%;

}

.left-layout {
    flex-direction: row;
}

.right-layout {
    flex-direction: row-reverse;
}

.projects-box-left {
    height: 90%;
    padding: 2%;
    width: 50%;
    background: transparent;
}

.projects-box-left-img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects-box-left-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px;
}

.projects-box-right {
    height: 73%;
    width: 50%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 4%;
    background: transparent;
}

.projects-box-right div {
   
}

.project-section-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
}

.project-section-content  {
    font-size: 16px;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

/* src/assets/css/Projects.css */
/* src/assets/css/Projects.css */

.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* Ensure the buttons contrast well with the theme */
  font-size: 24px;
}

.projects-box-left-img .swiper {
  width: 100%;
  height: auto;
}

.projects-box-left-img img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
